@font-face {
  font-family: "Aeonik";
  src:
    url("/fonts/aeonik/Aeonik-Regular.woff2") format("woff2"),
    url("/fonts/aeonik/Aeonik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #000;
  --white: #fff;
  --color-foreground: #1e1e1e;
  --color-background: var(--white);
  --color-links: #000000;
  --lang-links: #898989;
  --lang-links-active: #bbbbbb;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

html {
  box-sizing: border-box;
  background-attachment: scroll !important;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus-visible {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  font-family: "Aeonik", Arial, sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

div {
  border: none;
}

.zh {
  font-family:
    "PingFang TC",
    "PingFang SC",
    "Microsoft JhengHei",
    "Microsoft YaHei",
    "Noto Sans CJK TC",
    "Heiti TC",
    sans-serif;
}
