@font-face {
  font-family: "aeonik,Arial,sans-serif";
  src: url("/fonts/aeonik/aeonik.otf") format("opnetype");
  src: url("/fonts/aeonik/Aeonik-Regular.eot");
  src: url("/fonts/aeonik/Aeonik-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/aeonik/Aeonik-Regular.woff2") format("woff2"),
    url("/fonts/aeonik/Aeonik-Regular.woff") format("woff"),
    url("/fonts/aeonik/Aeonik-Regular.ttf") format("truetype"),
    url("/fonts/aeonik/Aeonik-Regular.svg#Aeonik-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #000;
  --white: #fff;
  --color-foreground: #1e1e1e;
  --color-background: var(--white);
  --color-links: #000000;
  --lang-links: #898989;
  --lang-links-active: #bbbbbb;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  font-family: "aeonik,Arial,sans-serif";
  font-style: normal;
  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

div {
  border: none;
}

.zh {
  font-family: "Noto Sans TC", sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}
