@font-face {
  font-family: "aeonik,Arial,sans-serif";
  src: url("/fonts/aeonik/aeonik.otf") format("opnetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-foreground: #1e1e1e;
  --color-background: #b8b8b8;
  --black:#000;
  --white:#fff;
  --color-links: #000000;
  --color-links-hover: #1e1e1e;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  font-family: "aeonik,Arial,sans-serif";
  font-style: normal;
  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  cursor: default;
}

p{
  cursor:default;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

div{
  border: none;
}

a:hover {
  color: var(--color-links-hover);
}

.zh{
  font-family: "Noto Sans TC",sans-serif;
}

#container{
  width: 100%;
  height: 100%;
}