@import "./global.css";
@import "./intro.css";
@import "./partfolio.css";
@import "./contact.css";

.page-home {
  display: block;
  /* height: 100%; */
}

.header {
  color: var(--color-background);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 3.125vw;
  height: 3.125vw;
  width: 93.75vw;
  z-index: 1000;
  mix-blend-mode: difference;
}

.header-link{
  overflow: hidden;
}

.header-link span {
  display: block;
}

.header-left {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}

.header-left .lang-switch {
  margin-left: 13px;
  color: #bbbbbb;
}

.lang {
  cursor: pointer;
  color: #4b4b4b;
  background-color: transparent;
  border: none;
}

.lang.zh {
  letter-spacing: 1px;
}

.lang.lang-selected {
  color: #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 2px;
}

.header-link {
  font-family: "inter,sans-serif";
  display: flex;
  position: relative;
  color: #bbbbbb;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2.5px;
  display: inline-block;
  text-transform: uppercase;
  transform: scale(1, 1.25);
  /* Safari and Chrome */
  -webkit-transform: scale(1, 1.25);
  /* Firefox */
  -moz-transform: scale(1, 1.25);
  /* IE 9+ */
  -ms-transform: scale(1, 1.25);
  /* Opera */
  -o-transform: scale(1, 1.25);
}

.nav {
  display: flex;
}

.nav-entry {
  position: relative;
  text-transform: uppercase;
  margin-left: 40px;
  cursor: pointer;
}

.nav-entry.nav-active {
  color: var(--color-links);
}

.nav-entry-bg {
  width: calc(100% + 30px);
  height: calc(100% + 14px);
  left: -15px;
  top: -7px;
  opacity: 0;
  position: absolute;
  background-color: var(--color-background);
  border-radius: 50px;
  transform: scale(0);
  transition: transform 0.15s ease-out;
}

.nav-active .nav-entry-bg {
  opacity: 1;
  transform: scale(1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-entry:not(.nav-active):hover .nav-entry-bg {
    opacity: 0.15;
    transform: scale(1);
  }
}

.nav-entry-text {
  position: relative;
  font-size: 14px;
}

#home {
  top: 6.25vw;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
