#partfolio {
  z-index: 1;
  background-color: var(--black);
  display: block;
  position: relative;
  pointer-events: none;
}

.tv-nav-activator {
  position: absolute;
  height: calc(100% - 120vh);
  width: 0;
  top: 0;
  left: 120px;
}

.tv-animation-trigger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}

.tv-box-stickytainer {
  width: 100vw;
  border: 1px solid coral;
  position: relative;
}

.tv-box-pinner {
  width: 100vw;
  height: 1px;
}

.tv-box-mask {
  position: relative;
  overflow: hidden;
  width: 100vw;
  top: -2px;
}

.tv-box-mask-bg {
  position: absolute;
  top: -2px;
  width: 100%;
  height: 100%;
}

.tv-box-mask-pic {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.tv-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: 50% 66%;
}

.work-items-box {
  position: relative;
  pointer-events: all;
  margin-top: 10px;
}

.work-items-headline {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0.2vw;
  margin-bottom: 3vw;
  color: var(--white);
}

.work-item {
  margin-top: -1px;
  height: 5vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}

.work-item-topline,
.work-item-botline {
  /* opacity: 0; */
  width: 100%;
  height: 1px;
  background-color: var(--white);
}

.work-name-mask {
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.work-name {
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  font-size: 5vw;
  line-height: 1.3em;
  width: 100vw;
}

.work-name-hover{
  font-family: 'Inter,serif';
  font-style: normal;
  position: absolute;
  text-transform: uppercase;
  line-height: 1.1em;
  width: 100vw;
  padding-top: 10px;
  font-size: 4.5vw;
}

.work-teaser {
  text-align: right;
  font-size: 0.5vw;
  color: var(--white);
  display: none;
}
